


p  {
    display: block;
    color: red;
    font-family: Bahnschrift;
    position:absolute;
    font-size: 17px;

background-color: darkred;
    top: 130vh;
    right: 32vw;

width: 500px;
height: 180px;

}




*{
    margin:0;
    padding:0;
    }
    .fa{
    padding:10px;
    width:100px;
    margin:2px;
    text-decoration: none;
    font-size:50px;
    color: WhiteSmoke;
    display: flex;
    flex-direction: column;
    }