body    {
    background:url(../images/N1NJ4F123_Artwork.png);
    
    width: 600px; height: 1280px;
margin: 0;
font-family: agora;
color: red;
}

footer {
    position: absolute;
    text-align: center;
    padding: 0px;
    background-color: darkred;
    color: red;
width: 1150px;
height: 60px;
    top:450vh;
    right: 8vw;
    z-index: 2;

    font-family: Agora;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 17px;
}

ul    {
    display: block;
    background-color: darkred;

}

*{
  margin:0;
  padding:0;
  }
  .fa{
  padding:10px;
  width:100px;
  margin:2px;
  text-decoration: none;
  font-size:50px;
  color: WhiteSmoke;
  display: flex;
  flex-direction: column;
  }

  * {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Agora;
    src: url(../media/Agora.otf);
  }